@import "tailwindcss";

@theme {
  --color-dimBlack: #3d465a;
  --color-lightCream: #f4f4f6;
  --color-primaryGolden: #736645;
  --color-grayishBlue: #e7e9ed;
  --color-warmGray: #f4f0ed;
  --color-neutralGray: #5d5d5d;
  --color-darkGray: #2e2e2e;
  --color-darkMutedRed: #3f2021;
  --color-scarletRed: #d1192e;
  --animate-movenav: movenav 1s ease-in-out forwards;
   --breakpoint-3xl: 120rem;
   --breakpoint-4xl: 160rem;
   --breakpoint-5xl: 240rem;
}

@keyframes movenav {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0px);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-rubik: var(--font-rubik);
  --font-mono: var(--font-geist-mono);
  --font-ebgaramond: "EB Garamond", serif;
  --font-cormorant: "Cormorant Garamond", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

/*---------------------- background image ------------- */

.bg-testimonial {
  background-image: url("/home/testimonial/bgTestimonial.webp");
  background-size: cover;
  background-position: center;
}

.bg-parallax {
  background-image: url("/home/parallax.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 90%;
}

/* loader */

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #0000;
  border-right-color: #06183a;
  position: relative;
  animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.loader:after {
  animation-duration: 4s;
}

.white-loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #0000;
  border-right-color: #ffffff;
  position: relative;
  animation: l24 1s infinite linear;
}

.white-loader:before,
.white-loader:after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.white-loader:after {
  animation-duration: 4s;
}

@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}

/* loader */

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

.shadow-full {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* ------------------- toaster --------------- */

/* Make the close (X) icon gray for all toasts */
.Toastify__close-button {
  color: var(--color-mutedGray) !important;
  opacity: 1 !important;
  transition: none !important; /* Optional: disable fade-in effect */
}

/* Success Toast */
.Toastify__toast--success {
  background-color: #736645 !important;
  color: white !important;
}

/* Error Toast */
.Toastify__toast--error {
  background-color: red !important;
  color: white !important; /* Tailwind red-100 */
}


/* -------------------------scrollbar-------------------- */

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background: #736645;
  border-radius: 100vh;
  border: 3px solid #736645;
}

body::-webkit-scrollbar-thumb:hover {
  background: #736645;
}

/* ------------------------------------ */
.gradient-hover-slide {
  position: relative;
  overflow: hidden;
  background-color: #736645; /* fallback or base color */
  color: white;
}

.gradient-hover-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background: linear-gradient(to right,#f4f4f6 , #736645 );
  transition: left 0.5s ease-in-out;
  z-index: 0;
}

.gradient-hover-slide:hover::before {
  left: 0;
}

.gradient-hover-slide > * {
  position: relative;
  z-index: 1;
}

